/* 基本的なスタイリング */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header, footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center; /* 中央揃え */
}

.responsive-image {
    max-width: 100%; /* ページ幅に合わせて調整 */
    height: auto; /* アスペクト比を保持 */
    display: block; /* ブロックレベル要素として扱う */
    margin: 0 auto; /* 上下にマージンを設定して中央揃え */
}

/* セクションごとのスタイリング */
.kyoto-section, .daigoji-section {
    margin-bottom: 2em;
}

.responsive-image {
    max-width: 40vw; /* 画像の最大幅をビューポート幅の50%にする */
    height: auto; /* 高さを自動調整してアスペクト比を維持 */
    display: block; /* 画像をブロック要素として扱う */
    margin: 10px auto; /* 上下20pxのマージンを設定し、左右のマージンは自動で中央揃え */
}

